{{#each stations}}
<div class="movap-titulo">
  <h4 align="left">ACOMPANHAMENTO ONLINE</h4>
  <hr>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h6 align="left" color="gray">COLABORADOR</h6>
    <hr>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-2">
        <!-- Espaço para a foto do usuário que não sei se vai dar bom  -->
      </div>
      <div class="col-5">
        <div class="bg clearfix col">
          <p align="left" class="mb-0" for="Input1">Nome do colaborador</p>
          <input type="text" class="form-control movap-boxcinza" id="Input1" value="{{nameEmployed}}" disabled>
          <br>
          <p align="left" class="mb-0" for="Input2">Número do aparelho</p>
          <input type="text" class="form-control movap-boxcinza" id="Input2" value="{{idesp}}" disabled>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h6 align="left" color="gray">STATUS DO CELULAR</h6>
    <hr>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-2">
        <!-- Espaço para a foto do aparelho que não sei se vai dar bom  -->
        <p align="left" class="mb-0 dataesp" for="Input2">Status</p>
        <input type="text" class="form-control movap-boxcinza" id="Input2" value="{{status}}" disabled>
      </div>
      <div class="col-5">
        <div class="bg clearfix col">
          <p align="left" class="mb-0" for="Input1">Tempo total disponível</p>
          <input type="text" class="form-control movap-boxcinza" id="Input1" value="{{toleranceTime}}"
            disabled>
          <br>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <script src="/javascripts/jquery.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <h6 align="left" color="gray">ACOMPANHAMENTO GRÁFICO</h6>
    <hr>
  </div>

  <!-- Start Canvas / desenhar elementos gráficos usando JS -->
  <canvas width="1300" height="300" class="line-chart"> </canvas>

   <!-- include chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script>
    var canvas = document.getElementsByClassName("line-chart");

    // Tipo e dados
    var myChart = new Chart(canvas, {
        type: 'line',
        data: {
          labels: ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","Nov","Dez"],
            datasets:[{
              label: "Acompanhamento Gráfico",
              data: [0,1,0,1,1,1,0,0,1,1,1,0],
              borderWidht: 6,
              borderColor: 'rgb(40,67,132)',
              backgroundColor: 'rgb(40,67,132)',
              steppedLine: true,
              fill: true,
            }]
          },

          //opções de customização do gráfico
          options: {
            responsive:false,
            legend: {
              display:false,
            },
            scales:{
              yAxes:[{
                ticks:{
                  max:1,
                  min:0,
                  stepSize:1
                },
                gridLines: {
                  display: false
                },
              }],
              xAxes:[{
                gridLines: {
                  display:false
                }
              }],
            },
          }
    });

    $(document).ready(update);

    function update() {
        $.get('/onlineTracking/receberDados/{{codeStation}}', (response) => {

            console.log("Dados recebidos da base de dados!");
            updatechart(response);
        }).then(setTimeout(dateGraph, 500));
    }

    function dateGraph(){
      console.log("Entrou na Função dateGraph")
      $.get('/onlineTracking/receberDados/{{date}}', (response) => {
        console.log("Entrou no data")
        updatechart(responde);
      }).then(setTimeout(update,6000));
    }

    function updatechart(response) {
        var eixox = []
        var eixoy = []
        for (let i = 0; i < response.length ; i++) {
            eixoy[i] = response[i]['data'];
            eixox[i] = response[i]['createdAt'];
        }
        console.log(eixoy);
        console.log(eixox);

        myChart.data.labels = eixox;
        myChart.data.datasets[0].data = eixoy;

        myChart.update();

        console.log("Atualizado!");
    }

 //responsividade do gráfico (teoricamente nao faz nada)
    $(document).ready(function () {
        $("#btn1").click(function () {
            $("#divC").attr("class", "col-md-10");
            $("#div1").attr("class", "col-md-1");
            $("#div2").attr("class", "col-md-1");
        });

        $("#btn2").click(function () {
            $("#divC").attr("class", "col-md-8");
            $("#div1").attr("class", "col-md-2");
            $("#div2").attr("class", "col-md-2");
        });

        $("#btn3").click(function () {
            $("#divC").attr("class", "col-md-4");
            $("#div1").attr("class", "col-md-4");
            $("#div2").attr("class", "col-md-4");
        });
    });


</script>
</div>
{{/each}}
